:root {
    --darkblue-color: #102C57;
    --grey-color:#565656;
    --pink-color: #ffc4b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* page formatting */
html, body{
    overflow-x: hidden; /* Hide horizontal scrollbar */
    background: linear-gradient(45deg, #F5F5DC, #FFEEDB, #FFD8CC);
    background-repeat: no-repeat;
}

.last-element {
    margin-bottom: 0;
}

.page-container{
    min-height: 100vh;
    /* padding: 1rem 7rem 10.5rem; */
    position: relative;
}

/* font importations */
@font-face {
    font-family: 'Poppins';
    src: url(/fonts/poppins.regular.ttf);
}

@font-face {
    font-family: 'Poppins-Light';
    src: url(/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: 'Baskervville';
    src: url(/fonts/Baskervville-Regular.ttf);
}

@font-face {
    font-family: 'Synthemesc';
    src: url(/fonts/Acorn-Bold.ttf);
    font-style: normal;
    font-weight: 400;
}

/* dark mode */
.dark-mode{
    color: #fff;
    background: linear-gradient(45deg, #F5F5DC, #FFEEDB, #FFD8CC);
}

/* navbar */
.navbar ul {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 2;
    gap: 2rem;
    width: 40%;
    margin-top: 5%;
    margin-left: 30%;
    font-size: 1.1rem;
    font-family: 'Poppins-Light';
    list-style-type: none;
    padding: 1rem 2rem;
    margin-bottom: 10%;
}

.navbar li  a{
    display: inline;
    color: black;
    text-decoration: none;
    padding: 0.25rem 1rem;
}

.nav-link {
    display: inline-block;
}

.active{
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.68);
}

.transparent{
    background-color: #ffffff6b;
    border-radius: 37px;
}

/* LANDING PAGE */

.landingPage, .about, .work, .contact{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.star-container{
    position: absolute;
    width: 100%;
}

/* star svg positioning */
.star-svg{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 85%;
}

.star-svg-2{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 32%;
    padding: 7% 10%;
}

.star-svg-3{
    display: flex;
    justify-content: end;
    width: 66%;

}

.star-svg-4{
    display: flex;
    justify-content: center;
    width: 62%;
    padding-left: 7.5%;
}

/* landing page contents */

body, .catch p, .resume-button, .about p{
    font-family: 'Poppins';
}

.catch h1, .work h1, .about h1, .contact h1{
    font-family: 'Synthemesc';
    color: var(--darkblue-color);
}

.catch{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.catch h1{
    text-align: center;
    width: 100vh;
    font-size: 6vw;
}

.about h1, .work h1, .contact h1{
    font-size: 6.5rem;
    text-align: center;
}

.catch p{
    text-align: center;
    padding-top: 4rem;
    color: var(--grey-color);
    font-size: 1.35rem;
}
 
 .resume-container{
    display: flex;
    justify-content: center;
    margin-top: 5%;
 }

.resume-button {
   font-size: 26px;
   font-weight: 200;
   letter-spacing: 1px;
   padding: 13px 20px 13px;
   margin-top: 1rem;
   border: 1px solid var(--grey-color);
   cursor: pointer;
   position: relative;
   background-color: rgba(0, 0, 0, 0);
   border-radius: 5px;
   z-index: 0;
}
 
.resume-button::after {
    content: "";
    background-color: #ffbc9bc5;
    border-radius: 5px;
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
.resume-button:hover:after {
  top: 0px;
  left: 0px;
}

/* About section */
.about{
    display: flex;
    flex-direction: column;
}

.aboutSec {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
}

.curvy-image {
    margin-top: 2rem;
    width: 17vw;
    height: 23vw;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    box-shadow:  -5px 5px 0px #FFD8CC,
             5px -5px 0px #F5F5DC;
    overflow: hidden;
}

 .about h2{
    margin-top: 2rem;
    font-size: 2.5rem;
    color: var(--darkblue-color);
    /* find better font to pair with h1 font */
    font-family: 'Synthemesc';
 }

 .about-head{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
 }

 .about p, .about-head p {
    padding-top: 2rem;
    font-size: 1.25rem;
    line-height: 2rem;
    margin-right: 10%;
    color: var(--grey-color);
}

/* MAKE FOR SMALLER SCREENS TO HAVE NO BORDER SPACE */
 .about-tools{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 7rem 5rem;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.9s;
    border-radius: 20px;
    background: #102c57e2;
    padding: 0.75rem;
 }

 .skills h2{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--pink-color);
    font-family: 'Synthemesc';
    font-size: 3rem;
    letter-spacing: 0.5rem;
 }

 .technologies{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 5%;
 }
 
 .technologies h5, .skill-box{
    text-align: center;
    color: #FFEEDB;
    font-size: 1.5rem;
    padding: 0rem 1.5rem;
 }

 .technologies i{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 5rem;
    padding: 1rem;
    color: #FFEEDB;
 }

 .skill-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

 .soft-skills{
    margin-top: 7.5rem;
 }

 .quality-card{
    padding: 1.2rem;
    font-size: 1.5rem;
    color: #FFEEDB;
 }

 /* short intro */
 .short-intro{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 2.25rem;
 }

 .intro-bio{
    width: 50%;
    color: var(--grey-color);
}

/* fun facts */
.fun-facts ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}

.fun-facts li{
    width: fit-content;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    margin: 2rem;
    border-radius: 20px;
    background-color: var(--darkblue-color);
}

.fun1{
    width: 100%;
    justify-content: start;
}

.fun2{
    width: 100%;
    padding-left: 9%;
}
.fun3{
    width: 100%;
    padding-left: 18%;
}
.fun4{
    width: 100%;
    padding-left: 27%;
}
.fun5{
    width: 100%;
    padding-left: 36%;
}

.fun-facts {
    margin-top: 6rem;
    padding: 2.5rem;
    /* margin: 7rem 5rem;
    border-radius: 20px; */
    color: #FFEEDB;
    background-color: var(--pink-color);

}

.fun-facts h3{
    font-family: 'Synthemesc';
    font-size: 3.75rem;
    letter-spacing: 0.25rem;
    color: var(--darkblue-color);
    text-align: center;
}

/* Work Section */

.work-heading{
    width: 50%;
    text-align: center;
}

.work-heading p, .contact-heading p {
    margin-top: 1.5rem;
    color: var(--grey-color);
}

.proj-collection {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4rem;
    padding: 1.25rem;
}

.card{
    width: 400px;
    border-radius: 27px;
    background-color: #102c57db;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    /* to remove padding after adding in projs */
    padding: 3rem 3rem;
    margin: 0.75rem 0.25rem;
    transition: transform 0.2s;
    color: var(--pink-color);
}

.clickable-card{
    text-decoration: none;
}

.card:hover{
    transform: scale(1.05);
}

.card-title{
    font-size: 1.2rem;
    font-family: 'Baskervville';
    margin-bottom: 1rem;
}

/* Contact */

.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form{
    display: flex;
    justify-content: center;
    height: 35rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 3rem;
    width: 50%;
    padding: 2rem;
    background-color: #ffc4b28b;
    border-radius: 20px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.5rem;
    color: var(--grey-color);
    background-color: #ffffffef;
    font-family: 'Poppins';
}

textarea{
    height: 70%;
}
textarea:focus,
input:focus {
    outline: none;
    background-color: #ffffffae;
}

/* .submit-button{
    margin: 0 auto;
} */

form button{
    font-size: 1.75rem;
    font-family: 'Poppins';
    padding: 0.5rem;
    color: var(--grey-color);
    background-color: #F5F5DC;
}

/* RESPONSIVE DESIGN */
@media (max-width: 1157px){
    .catch h1{
        width: 60vh;
        font-size: 7vw;
    }

    .aboutSec{
        flex-direction: column;
    }
    .achievements{
        width: 75%;
        margin-left: 3.5%;
        padding: 5px;
    }

    .skillSet h3{
        padding-top: 5px;
    }
}

/* tablet size */
@media (max-width:1023px) {

    .landingPage, .about{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about p{
        margin-right: 0%;
        margin-bottom: 5%;
    }

    .achievements{
        margin-left: 10%;
    }
}

/* smartphone */
@media (max-width:767px) {
    .catch h1{
        width: 40vh;
        font-size: 6vw;
    }

    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
}