:root {
    --light-bg:linear-gradient(45deg, #F5F5DC, #FFEEDB, #FFD8CC);
    --dark-bg: linear-gradient(45deg, #576CBC, #19376D, #102C57);
    --darkblue-color: #102C57;
    --grey-color:#565656;
    --pink-color: #ffc4b2;
    --lightblue-color: #DDE6ED;
    --lightpurple-color: #FAE7F3;
    --purple-color: #E6B9DE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* page formatting */
html, body{
    overflow-x: hidden;
    background: var(--light-bg);
    background-repeat: no-repeat;
}

.last-element {
    margin-bottom: 0;
}

.page-container{
    min-height: 100vh;
    position: relative;
}

/* font importations */
@font-face {
    font-family: 'Poppins';
    src: url(/fonts/poppins.regular.ttf);
}

@font-face {
    font-family: 'Poppins-Semi';
    src: url(/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'Poppins-Light';
    src: url(/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: 'Baskervville';
    src: url(/fonts/Baskervville-Regular.ttf);
}

@font-face {
    font-family: 'Acorn';
    src: url(/fonts/acorn-med.ttf);
}

/* dark mode */
.dark-mode {
    background: var(--dark-bg);
}

.dark-mode h1,
.dark-mode .about h2 {
    color: var(--purple-color);
}

.dark-mode .work-heading p, 
.dark-mode .contact-heading p, 
.dark-mode .catch p, 
.dark-mode .about-head p,
.dark-mode .intro-bio,
.dark-mode p,
.dark-mode .navbar li a,
.dark-mode .navbar i {
    color: var(--lightpurple-color);
}

.dark-mode .resume-button{
    color: var(--purple-color);
}

.dark-mode .active{
    background-color: #24406ad6;
}
  
.dark-mode .transparent{
    background-color: #102c57e6;
}

.dark-mode .skills{
    background-color: #e8cae2b0;
}

.dark-mode .skills h2,
.dark-mode .skills i,
.dark-mode .skills h5,
.dark-mode .quality-card{
    color: var(--darkblue-color);
}

.dark-mode .skills i:hover{
    color: var(--lightpurple-color);
}

.dark-mode .quality-card:hover{
    color: var(--lightpurple-color);
}

.dark-mode .resume-button::after {
    background-color: var(--darkblue-color);
}

.dark-mode .fun-facts{
    /* background-color: var(--lightpurple-color); */
    background-color: #e8cae2b0;
    color: var(--lightpurple-color);
}

.dark-mode img {
    filter: brightness(0.8);
    transition: transform 0.3s ease;
}

.dark-mode form{
    background-color: #e8cae2b0;
}

.dark-mode form button{
    background-color: var(--darkblue-color);
    color: var(--lightpurple-color);
}

.dark-mode .card{
    transform: box-shadow 0.3s ease;
}

.dark-mode .card:hover{
    box-shadow: 0 0 20px rgba(97, 218, 251, 0.3);
}

.dark-mode footer,
.dark-mode .social-container a{
    color: var(--lightpurple-color);
}

.dark-mode .social-container p{
    color: var(--purple-color);
}

.zoomed {
    transform: scale(1.3); /* Increase the scale value for more zoom */
}

/* navbar */
.navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.navbar ul {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 2;
    gap: 1rem;
    width: max-content;
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 1.1rem;
    font-family: 'Poppins-Light';
    list-style-type: none;
    padding: 1rem 2rem;
}

.navbar li  a, i{
    display: inline;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem 1.25rem;
}

.active{
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.68);
}

.transparent{
    background-color: #ffffff6b;
    border-radius: 37px;
}

/* LANDING PAGE */

.landingPage, .about, .work, .contact{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.star-container{
    position: absolute;
    width: 100%;
    resize: none;
    overflow:hidden
}

/* star svg positioning */
.star-svg{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 15%;
    margin-left: 65%;
}

.star-svg-2{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 32%;
    padding: 7% 10%;
}

.star-svg-3{
    display: flex;
    justify-content: end;
    width: 66%;
}

.star-svg-4{
    display: flex;
    justify-content: center;
    width: 62%;
    padding-left: 7.5%;
}

.floating {
    animation: floating 5s infinite;
  }
  
@keyframes floating{
    0%{transform:translateY(0px)}
    50%{transform:translateY(25px)}
    100%{transform:translateY(0px)}
}

/* landing page contents */

body, .catch p, .resume-button, .about p{
    font-family: 'Poppins';
}

h1{
    font-family: 'Acorn';
    color: var(--darkblue-color);
    text-align: center;
    font-size: 6.5vw;
}

.catch{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.catch p{
    text-align: center;
    padding-top: 4rem;
    font-size: 2vw;
}
 
 .resume-container{
    display: flex;
    justify-content: center;
    margin-top: 5%;
 }

.resume-button {
   font-size: 2vw;
   font-weight: 200;
   letter-spacing: 1px;
   padding: 13px 20px 13px;
   margin-top: 1rem;
   border: 1px solid var(--grey-color);
   cursor: pointer;
   position: relative;
   background-color: rgba(0, 0, 0, 0);
   border-radius: 5px;
   z-index: 0;
}
 
.resume-button::after {
    content: "";
    background-color: #ffbc9bc5;
    border-radius: 5px;
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
.resume-button:hover:after {
  top: 0px;
  left: 0px;
}

/* About section */
.about{
    display: flex;
    flex-direction: column;
}

.aboutSec {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
}

.curvy-image {
    margin-top: 2rem;
    width: 17rem;
    height: 23rem;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    overflow: hidden;
}

 .about h2{
    font-size: 2.25rem;
    color: var(--darkblue-color);
    font-family: 'Acorn';
    padding: 1rem 0rem;
 }

 .about-head{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
 }

 .about p{
    padding-top: 2rem;
    font-size: 1.25rem;
    /* color: var(--grey-color); */
}

.intro-bio{
    width: 50%;
    color: var(--grey-color);
    font-size: 1.25rem;
    margin-top: 2rem;
    line-height: 1.75rem;
}

/* MAKE FOR SMALLER SCREENS TO HAVE NO BORDER SPACE */
 .about-tools{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2vh 5rem;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.9s;
    padding: 0.75rem;
 }

 .skills{
    background: #102c57e2;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 5rem;
 }

 .skills h2{
    text-align: center;
    margin-bottom: 1rem;
    color: var(--pink-color);
    font-family: 'Acorn';
    font-size: 2.25rem;
    letter-spacing: 0.5rem;
 }

 .technologies{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 5%;
    overflow-y: scroll;
 }
 
 .technologies h5, .skill-box{
    text-align: center;
    color: #FFEEDB;
    font-size: 2vw;
    padding: 0rem 2.5vw;
 }

 .technologies i{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 5vw;
    padding: 1rem;
    color: #FFEEDB;
 }

 i:hover{
    color: var(--pink-color);
 }

 .skill-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

 .soft-skills{
    margin-top: 9vh;
 }

 .quality-card{
    font-size: 2vw;
    padding: 1rem;
    color: #FFEEDB;
 }

 .quality-card:hover{
    color: var(--pink-color);
 }

 /* short intro */
 .short-intro{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
 }

/* fun facts */
.fun-facts h3{
    font-family: 'Acorn';
    font-size: 3rem;
    letter-spacing: 0.25rem;
    color: var(--darkblue-color);
    text-align: center;
}

.fun-facts ul{
    list-style-type: none;
    margin-top: 1.5vh;
}

.fun-facts li{
    width: fit-content;
    font-size: 1rem;
    padding: 1rem 2rem;
    margin: 3.5vw;
    border-radius: 20px;
    background-color: var(--darkblue-color);
    transition: transform 0.3s ease;
}

.fun-facts li:hover{
    transform: scale(1.1);
}

.fun1{
    width: 100%;
    justify-content: start;
}

.fun2{
    width: 100%;
    padding-left: 9%;
}
.fun3{
    width: 100%;
    padding-left: 18%;
}
.fun4{
    width: 100%;
    padding-left: 27%;
}
.fun5{
    width: 100%;
    padding-left: 36%;
}

.fun-facts {
    margin-top: 6rem;
    padding: 2.5rem;
    color: #FFEEDB;
    background-color: var(--pink-color);
}

/* Work Section */

.work-heading{
    width: 50%;
    text-align: center;
}

.work-heading p, .contact-heading p, .catch p, .about-head p {
    margin-top: 1.5rem;
    color: var(--grey-color);
}

.proj-collection {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4rem;
    padding: 1.25rem;
}

.card{
    width: 400px;
    border-radius: 27px;
    background-color: var(--darkblue-color);
    opacity: 0.92;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    /* to remove padding after adding in projs */
    padding: 3rem;
    margin: 0.75rem 0.25rem;
    transition: transform 0.3s ease;
    color: var(--pink-color);
}

.clickable-card{
    text-decoration: none;
}

.card:hover{
    transform: translateY(-10px); /* Translate the element up on hover */
    opacity: 1;

}

.card-title{
    font-size: 1.2rem;
    font-family: 'Poppins-Semi';
    margin-bottom: 1rem;
}

/* Contact */

.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form{
    display: flex;
    justify-content: center;
    height: 35rem;
    margin-bottom: 3rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 3rem;
    width: 50%;
    padding: 2rem;
    background-color: #ffc4b28b;
    border-radius: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: var(--grey-color);
    background-color: #ffffffef;
    font-family: 'Poppins';
}

textarea{
    height: 100%;
    resize: none;
}

textarea:focus,
input:focus {
    outline: none;
    background-color: #ffffffae;
}

.submit-button{
    margin: 0 auto;
}

form button{
    font-size: 1rem;
    font-family: 'Poppins';
    padding: 0.5rem;
    color: var(--grey-color);
    background-color: #fde6ed;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

form button:hover{
    transform: translateY(-5px);
}

/* footer */
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    color: #7f7f7f;
    padding: 20vw 20vw 10vw 20vw;
}

.checkbox-wrapper-5 .check {
    --size: 25px;
    position: relative;
    background: linear-gradient(90deg, #f19af3, #f099b5);
    line-height: 0;
    perspective: 400px;
    font-size: var(--size);
  }
  
  .checkbox-wrapper-5 .check input[type="checkbox"],
    .checkbox-wrapper-5 .check label,
    .checkbox-wrapper-5 .check label::before,
    .checkbox-wrapper-5 .check label::after,
    .checkbox-wrapper-5 .check {
    appearance: none;
    display: inline-block;
    border-radius: var(--size);
    border: 0;
    transition: .35s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .checkbox-wrapper-5 .check label {
    width: calc(2.2 * var(--size));
    height: var(--size);
    background: #d7d7d7;
    overflow: hidden;
  }
  
  .checkbox-wrapper-5 .check input[type="checkbox"] {
    position: absolute;
    z-index: 1;
    width: calc(.8 * var(--size));
    height: calc(.8 * var(--size));
    top: calc(.1 * var(--size));
    left: calc(.1 * var(--size));
    background: linear-gradient(45deg, #dedede, #ffffff);
    box-shadow: 0 6px 7px rgba(0,0,0,0.3);
    outline: none;
    margin: 0;
  }
  
  .checkbox-wrapper-5 .check input[type="checkbox"]:checked {
    left: calc(1.3 * var(--size));
  }
  
  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label {
    background: transparent;
  }
  
  .checkbox-wrapper-5 .check label::before,
    .checkbox-wrapper-5 .check label::after {
    content: "· ·";
    position: absolute;
    overflow: hidden;
    left: calc(.15 * var(--size));
    top: calc(.5 * var(--size));
    height: var(--size);
    letter-spacing: calc(-0.04 * var(--size));
    color: #9b9b9b;
    font-family: "Times New Roman", serif;
    z-index: 2;
    font-size: calc(.6 * var(--size));
    border-radius: 0;
    transform-origin: 0 0 calc(-0.5 * var(--size));
    backface-visibility: hidden;
  }
  
  .checkbox-wrapper-5 .check label::after {
    content: "●";
    top: calc(.65 * var(--size));
    left: calc(.2 * var(--size));
    height: calc(.1 * var(--size));
    width: calc(.35 * var(--size));
    font-size: calc(.2 * var(--size));
    transform-origin: 0 0 calc(-0.4 * var(--size));
  }
  
  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::before,
    .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
    left: calc(1.55 * var(--size));
    top: calc(.4 * var(--size));
    line-height: calc(.1 * var(--size));
    transform: rotateY(360deg);
  }
  
  .checkbox-wrapper-5 .check input[type="checkbox"]:checked + label::after {
    height: calc(.16 * var(--size));
    top: calc(.55 * var(--size));
    left: calc(1.6 * var(--size));
    font-size: calc(.6 * var(--size));
    line-height: 0;
  }
  

.left-footer{
    padding: 2rem;
    text-align: center;
}

.social-container{
    display: flex;
}

.social-container a{
    padding: 0.5rem 0rem;
    text-decoration: none;
    color: #7f7f7f;
}

.social-container a:hover{
    color: var(--darkblue-color);
}
.socials p, .message p{
    color: var(--darkblue-color);
    font-family: 'Poppins-Semi';
    padding-bottom: 0.5rem;
}

.socials{
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}

/* RESPONSIVE DESIGN */
/* Small devices (tablets, 768px and up) */

@media (max-width: 768px) {

    .navbar ul{
        font-size: 2.25vw;
        gap: 0;
    }

    .navbar li{
        padding: 0rem 0.25rem;
    }

    .catch h1{
        font-size: 7.50vw;
    }

    .work h1, .about h1, .contact h1{
        font-size: 14vw;
    }

    .catch p, .work p{
        padding-top: 5vw;
        font-size: 2vh;
    }

    .work p{
        margin: 0;
    }

    /* about section */
    .aboutSec{
        display: flex;
        flex-direction: column;
        margin: 0;
        text-align: center;
    }

    .about-head h2{
        text-align: start;
        font-size: 1.75rem;
    }

    .about-head p{
        font-size: 1rem;
        line-height: normal;
        text-align: start;
    }

    .about-head{
        width: 75%;
        margin:0
    }

    .about img{
        height: 20%;
        width: 50%;
    }

    .about{
        margin-left: 0;
    }

    .skills{
        border-radius: 0;
        margin: 0;
        padding: 0rem 5rem;
    }

    .skills h2{
        font-size: 4vw;
    }

    .intro-bio{
        width: 85%;
        font-size: 1rem;
    }

    .fun-facts h3{
        font-size: 6vw;
    }

    .fun-facts li{
        width: 100%;
        margin: 0;
        font-size: 3vw;
    }

    .fun1, .fun2, .fun3, .fun4, .fun5{
        padding: 0;
        margin: 1.5rem 0;
        text-align: center;
    }

    /* work section */
    .card-description{
        font-size: 2.5vh;
    }

    .card{
        width: 95%;
        margin-left: 2.5%;
    }

    /* contact */
    form{
        width: 95%;
    }

    .left-footer{
        display: none;
    }

    footer{
        padding: 0vw;
        font-size: 0.75rem;
        justify-content: center;
    }

    footer:hover{
        transform: scale(1.2);
    }

    .social-container{
        width: 50%;
        padding: 1rem;
        justify-content: space-around;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {

    .landingPage, .about, .work, .contact{
        margin-top: 20vh;
    }

    .star-svg-3{
        margin-left: 25%;
    }

    .star-svg-4{
        width: 30%
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

    .star-svg{
        margin-left: 75%;
    }

    .star-svg-2{
        width: 30%;
    }

    .star-svg-4{
       display: none;
    }
}

@media (min-width: 1650px){
    .proj-collection{
        max-width: 60%;
        margin-left:20%
    }
}